---
import Base from '../layouts/Base.astro';
---

<Base title="James Hill">
	<section class="h-screen text-center flex justify-center items-center flex-col">
		<h1 class="animate-fade-in-up animation-delay-200 font-bold font-heading text-4xl uppercase">James Hill<span class="text-orange-400">.</span></h1>
		<p class="animate-fade-in-up animation-delay-600">Solution Architect</p>	
	</section>
</Base>
