<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#0f172a">
<meta name="msapplication-TileColor" content="#0f172a">

<!-- preconnect, preload, prefetch -->
<link rel="preconnect" src="https://www.googletagmanager.com/gtm.js">
<link rel="preconnect" src="https://www.googletagmanager.com/gtag/js">

<link rel="manifest" href="manifest.webmanifest">
<meta name="msapplication-config" content="browserconfig.xml">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/img/icons/favicon-16x16.png">
<link rel="mask-icon" href="./assets/img/icons/safari-pinned-tab.svg" color="#fb923c">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

<if condition="{{NODE_ENV === 'production'}}">
    <include src="src/components/gtm/head.html"></include>
</if>
<link rel="preload" href="./assets/css/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./assets/css/index.css"></noscript>